


{% block head %}

<title>Calculator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Bill Invoice</h1>

    <div class="form">
        <form action="/operation" method="POST">
            <label for="operation">Enter Bill line items</label>


    <select id="operation" name="operation">


    </select>
            <label for="">#1</label>
            <input type="text" name="Description1" id="Description1">
            <input type="text" name="num2" id="num2">
        

    </select>
            <label for="">#2</label>
            <input type="text" name="Description2" id="Description2">
            <input type="text" name="num2" id="num2">

    </select>
            <label for="">#3</label>
            <input type="text" name="Description3" id="Description3">
            <input type="text" name="num3" id="num3">


    </select>
            <label for="">#4</label>
            <input type="text" name="Description4" id="Description4">
            <input type="text" name="num4" id="num4">
    
    </select>
            <label for="">#5</label>
            <input type="text" name="Description5" id="Description5">
            <input type="text" name="num5" id="num5">
            <input type="submit" value="Calculate">
        </form>
    </div>
</div>
{% endblock %}